.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader h1 {
  flex-direction: row;
  text-align: center;
  align-content: center;
  padding: 0 5rem;
  margin-top: 1rem;
  color: #1976d2;
}

.AppContent form{
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
